:root {
     --primary: #ffffff;
     --primary-content: #808080;
     --primary-dark: #e6e6e6;
     --primary-light: #ffffff;

     --secondary: #ffffff;
     --secondary-content: #808080;
     --secondary-dark: #e6e6e6;
     --secondary-light: #ffffff;

     --background: #1a1a1a;
     --foreground: #262626;
     --border: #404040;

     --copy: #fbfbfb;
     --copy-light: #d9d9d9;
     --copy-lighter: #a6a6a6;

     --success: #ffffff;
     --warning: #ffffff;
     --error: #ffffff;
     --success-content: #808080;
     --warning-content: #808080;
     --error-content: #808080;
}
.main-logo {
     height: 250pt;
}
.main-text-1 {
     font-size: 4em;
     letter-spacing: 0.3em;
}
.main-text-2 {
     font-size: 2em;
     letter-spacing: 0.55em;
     transform: translateY(-10px);
}

.gradient {
     background: linear-gradient(-45deg, #7e1717, #8b1874, #071952, #17594a);
     /* background: linear-gradient(-45deg, #000000, #ffffff, #000000, #ffffff); */
     background-size: 400% 400%;
     animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
     0% {
          background-position: 0% 50%;
     }
     50% {
          background-position: 100% 50%;
     }
     100% {
          background-position: 0% 50%;
     }
}

.mask-top {
     --mask: radial-gradient(31.32px at 50% 39px, #000 99%, #0000 101%)
               calc(50% - 60px) 0/120px 100%,
          radial-gradient(31.32px at 50% -9px, #0000 99%, #000 101%) 50% 30px/120px
               100% repeat-x;
     -webkit-mask: var(--mask);
     mask: var(--mask);
}
.mask {
     mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1) 25%,
          rgba(0, 0, 0, 1) 75%,
          rgba(0, 0, 0, 0)
     );
}
.wrapper {
     margin-top: 2rem;
     max-width: 1536px;
     margin-inline: auto;
     height: 100px;
     position: relative;
     overflow: hidden;
     mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1) 20%,
          rgba(0, 0, 0, 1) 80%,
          rgba(0, 0, 0, 0)
     );
}
.wrapper-card {
     margin-top: 2rem;
     max-width: 1536px;
     margin-inline: auto;
     height: 200px;
     position: relative;
     overflow: hidden;
     mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1) 20%,
          rgba(0, 0, 0, 1) 80%,
          rgba(0, 0, 0, 0)
     );
}
@keyframes scrollLeft {
     to {
          left: -200px;
     }
}

@keyframes scrollRight {
     to {
          right: -200px;
     }
}
.item {
     display: flex;
     align-items: stretch;
     justify-content: center;
     flex-direction: row;
}
.item img {
     max-width: 100%;
     /* height: 100%; */
}
.itemLeft,
.itemRight {
     width: 100px;
     height: 100px;
     border-radius: 6px;
     position: absolute;
     animation-timing-function: linear;
     animation-duration: 30s;
     animation-iteration-count: infinite;
}
.itemLeft-card,
.itemRight-card {
     width: 200px;
     height: 200px;
     border-radius: 6px;
     position: absolute;
     animation-timing-function: linear;
     animation-duration: 30s;
     animation-iteration-count: infinite;
}
.itemLeft {
     left: max(calc(200px * 8), 100%);
     animation-name: scrollLeft;
}

.itemRight {
     right: max(calc(200px * 8), calc(100% + 200px));
     animation-name: scrollRight;
}

.item1 {
     animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
     animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
     animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
     animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
     animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
     animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
     animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
     animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
.brand-logo {
     height: 64px;
     margin: 1rem;
}
.hoverText {
     transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
     font-weight: 900;
     color: rgb(238, 242, 255);
}

/* To the right */
.hoverText:hover + .hoverText {
     font-weight: 500;
     color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
     font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
     font-weight: 500;
     color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
     font-weight: 300;
}

@media only screen and (max-width: 526px) {
     .main-logo {
          height: 150pt;
     }
     .main-text-1 {
          font-size: 3em;
          letter-spacing: 0.3em;
     }
     .main-text-2 {
          font-size: 1em;
          letter-spacing: 0.55em;
          transform: translateY(-10px);
     }
}
@media only screen and (max-width: 526px) {
     .main-logo {
          height: 130pt;
     }
}
@media only screen and (max-width: 768px) {
     .mobile-width {
          width: 100vw !important;
          padding: 0px !important;
     }
}
@media only screen and (max-width: 1024px) {
     .layer {
          height: 130vh !important;
     }
     .brand-logo {
          height: 48px;
          margin: 5px;
     }
}
/* waves */
.wave {
     --mask: radial-gradient(39.37px at 50% 55.5px, #000 99%, #0000 101%)
               calc(50% - 60px) 0/120px 100%,
          radial-gradient(39.37px at 50% -25.5px, #0000 99%, #000 101%) 50% 30px/120px
               100% repeat-x;
     -webkit-mask: var(--mask);
     mask: var(--mask);
}
.wave-botom {
     --mask: radial-gradient(
                    39.37px at 50% calc(100% - 55.5px),
                    #000 99%,
                    #0000 101%
               )
               calc(50% - 60px) 0/120px 100%,
          radial-gradient(
                    39.37px at 50% calc(100% + 25.5px),
                    #0000 99%,
                    #000 101%
               )
               50% calc(100% - 30px) / 120px 100% repeat-x;
     -webkit-mask: var(--mask);
     mask: var(--mask);
}
/* trail */
.trailsText {
     position: relative;
     width: 100%;

     will-change: transform, opacity;
     overflow: hidden;
}

.trailsText > div {
     overflow: hidden;
}
.trailsContainer {
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
/* wave bg */
.bg1 {
     background-color: var(--background);
}
.bg2 {
     background-color: var(--foreground);
}
.shuffle > svg {
     width: 100%;
     height: 100%;
}
